body {
  font-family: Georgia;
  background: #C8A2C8;
  color: #FFFFFF;
  text-align: center;
  margin: 20px;
  line-height: 1.5;
}

h1 {
  font-family: 'Georgia', serif;
  color: #8B0000;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(to right, #f0f0f0, #ffffff);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #8B0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

h2:hover {
  color: #D11919;
}

h3 {
  color: #8B0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

h3 {
  color: #8B0000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

img {
  border-radius: 50%;
  margin: 20px 0;
  max-width: 300px;
}

p {
  margin-bottom: 10px;
}

.contact-form {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 400px;
}

.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.contact-submit {
  background-color: white;
  color: #e078e0;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contact-submit:hover {
  background-color: #f0f0f0;
}

.colored-text {
  color: #8c0000;
  font-weight: bold;
}
